<IfModule !wsgi_module>
    LoadModule wsgi_module modules/mod_wsgi.so
</IfModule>

WSGIPythonHome "/opt/winstore/venv"
<VirtualHost *:{{httpd_port}}>
    ServerName {{server_name}}

    WSGIScriptAlias / /opt/winstore/etc/winstore/winstore.wsgi
    WSGIDaemonProcess {{server_name}} display-name=winstore-httpd processes=8 threads=1 maximum-requests=32 home=/opt/winstore
    WSGIProcessGroup {{server_name}}
    WSGIApplicationGroup %{GLOBAL}

    <Directory /opt/winstore/etc/winstore/>
        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
        <IfVersion < 2.4>
            Order deny,allow
            Allow from all
        </IfVersion>
    </Directory>

	# serve /winstore/image...
	Alias /winstore {{webcontent_path}}
    <Location "/winstore">
        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
        SetHandler None
    </Location>

</VirtualHost>

